#main-body{
    background-color: #f2f2f2

}

footer , footer .list-group-item{
    background-color: #222;
    border:none;
    color:#9d9d9d;
    text-align: center;
}

footer .list-group-item:hover{
    background-color: #222;
    color:white;
}


h1,h2,h3 {
    text-align: center;
}
#main-photo{
    height:100%;
    width: 100%;

}

.professor-thesis a:hover,.student-all-theses a:hover{
    opacity: 0.4;

}