
footer , footer .list-group-item{
    background-color: #222;
    border:none;
    color:#9d9d9d;
    text-align: center;
}

footer .list-group-item:hover{
    background-color: #222;
    color:white;
}


h1,h2,h3,h4,h5 {
    text-align: center;

}
p {
    text-align: justify;
}


.accounts-new-user img{
    height: 313px ;
    width: 420px
}

.accounts-profile img {
    width: 170px;
    height: 150px;
}

.professor-thesis a:hover,.student-all-theses a:hover{
    opacity: 0.4;

}

.accounts-new-user-professor img, .accounts-new-user-student img ,.professor-thesis-create-new img{
    padding-top: 50%;
    max-width: 100%;
    max-height: 100%;
}

#main-photo{
    height:70%;
    width: 70%;
}
#main-body{
    background-color: #f2f2f2

}

.broken-link-image{
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.professor-thesis-application-answer img {
    width:150px;
    height:170px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


